name: Deploy WordPress VM

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Create Resource Group (idempotent)
      run: |
       az group create \
       --name ntms-owasp-wp-rg \
       --location northeurope

    # Create VM (idempotent)
    - name: Create VM if not exists
      run: |
        if ! az vm show --resource-group ntms-owasp-wp-rg --name owaspwpvm >/dev/null 2>&1; then
          az vm create \
            --resource-group ntms-owasp-wp-rg \
            --name owaspwpvm \
            --image Ubuntu2204 \
            --size Standard_D2ls_v5 \
            --admin-username azureuser \
            --admin-password "${{ secrets.VM_ADMIN_PASSWORD }}" \
            --authentication-type password \
            --public-ip-sku Standard
        fi

    # Open SSH and HTTP
    - name: Open Ports
      run: |
        az vm open-port --resource-group ntms-owasp-wp-rg --name owaspwpvm --port 22 --priority 1001
        az vm open-port --resource-group ntms-owasp-wp-rg --name owaspwpvm --port 80 --priority 1002

    # Get Public IP
    - name: Get VM Public IP
      id: ip
      run: |
        IP=$(az vm show -d -g ntms-owasp-wp-rg -n owaspwpvm --query publicIps -o tsv)
        echo "IP=$IP" >> $GITHUB_OUTPUT

    # Copy script to VM
    - name: Upload WordPress setup script
      run: |
        sudo apt install -y sshpass
        sshpass -p "${{ secrets.VM_ADMIN_PASSWORD }}" scp -o StrictHostKeyChecking=no setup-wordpress-auto.sh azureuser@${{ steps.ip.outputs.IP }}:/tmp/

    # Run script on VM
    - name: Execute WordPress install script
      run: |
        sshpass -p "${{ secrets.VM_ADMIN_PASSWORD }}" ssh -o StrictHostKeyChecking=no azureuser@${{ steps.ip.outputs.IP }} "chmod +x /tmp/setup-wordpress-auto.sh && sudo /tmp/setup-wordpress-auto.sh"

    # Final Output
    - name: Output WordPress URL
      run: |
        echo "====================================="
        echo " WordPress deployed successfully!"
        echo " URL: http://${{ steps.ip.outputs.IP }}"
        echo " Admin: http://${{ steps.ip.outputs.IP }}/wp-admin"
        echo " Username: admin"
        echo " Password: Admin123!"
        echo "====================================="

    - name: Upload OWASP Lab Page Script
      run: |
        sshpass -p "${{ secrets.VM_ADMIN_PASSWORD }}" \
        scp -o StrictHostKeyChecking=no create-owasp-lab-page.sh azureuser@${{ steps.ip.outputs.IP }}:/tmp/

    - name: Run OWASP Lab Page Script
      run: |
        sshpass -p "${{ secrets.VM_ADMIN_PASSWORD }}" \
        ssh -o StrictHostKeyChecking=no azureuser@${{ steps.ip.outputs.IP }} \
        "chmod +x /tmp/create-owasp-lab-page.sh && sudo /tmp/create-owasp-lab-page.sh"


